/.venv
/Model/reddit-mental-health-dataset.zip
/Model/fine_tuned_results
/Model/data
/Model/fine_tuned_model
/Model/*.txt
/Backend/node_modules
/Backend/config.js
/Backend/google_creds.json
/ESP32_Code/include/config.h
/ESP32_Code/.pio
/ESP32_Code/.vscode/c_cpp_properties.json
/ESP32_Code/.vscode/launch.json
/Backend/.env
